<!DOCTYPE html>
<html lang="en">
<body id="home" onloads="createImageLayer();">
    <div id="wrapper">
        <header>
            <h1><a href="index.html?regid=$regid"><img src="image.jpg" width="250" height="300"></a></h1>
            <h2>Microprocessor Project in Network Computing Lab</h2>
            <nav>
                <a href="index.html?regid=$regid">Home</a>
                <a href="stream.html?regid=$regid">Streaming</a>
                <a href="video_log.html?regid=$regid">Video_log</a>
                <div class="clearfix"></div>
            </nav>
        </header>

        <section id="main-content">
            <div id="featured">
                <h3>Stream :</h3>
            <p id="streamwrap" class="xform-p">
            <img src="http://raspberrypi-ip:8080/?action=stream"/>
            </script></p>
            </div></p>
            </div> <!-- End Featured -->
            <div class="clearfix"></div>
        <hr/>
        </section>

    </div>  <!-- End Wrapper -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>